.contenedor__tema {
  border-radius: 8px;
  width: 300px;
  margin: 0 auto;
}
.contenedor__imagen {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.imagen__tema {
  max-width: 100%;
  object-fit: contain;
}
.tema__titulo {
  text-align: center;
  padding: 10px;
}
.tema__button {
  outline: none;
  background-color: transparent;
  border: 1px solid steelblue;
  color: steelblue;
  border-radius: 5px;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  display: block;
  margin: 0 auto;
}
.tema__button:hover {
  background-color: rgba(112, 160, 182, 0.205);
}
